<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </head>
    <body>
   {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light bg-info">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('post_index') }}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>

                    </ul>
                    {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
                       Hello {{ app.user }} - <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><a href="{{ path('app_logout')}}">LogOut</a></button>
                    {% else %}
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><a href="{{ path('app_login')}}">LogIn</a></button>
                    {% endif %}
                </div>
            </nav>
        {% endblock %}

    {% block message %}
        {% for message in app.flashes('danger') %}
            <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
            {{message}}
          {% endfor %}  

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role='alert'>
                <img src="https:/i.gifer.com/1vDs.gif"</div>
            {{message}}
          {% endfor %} 
    {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
